# Week 00 Deep Dive — Collections

Lists, tuples, sets, dicts — plus nested patterns.

## 1. Lists & list-comprehensions

In [ ]:
nums=[3,1,2]; nums.append(5); nums.sort(); sq=[n*n for n in nums]; print(nums, sq)

### Exercise F1 — Unique sorted (easy)
Remove duplicates and sort.

In [8]:
# Your turn
list1 = [ 'B', 'F', 'A', 'D','B', 'F', 'C', 'G' ]
list2 = sorted( set( list1 ) ) # set1 = set( sorted(list1) ) doesn't work because turning the sorted list into a set destroys the sort order
print( list2 )

['A', 'B', 'C', 'D', 'F', 'G']

<details>
<summary><b>Solution</b></summary>

```python
data=[3,1,2,3,2,1]
unique=sorted(set(data))
print(unique)
```
</details>

## 2. Dicts & lookups

In [ ]:
prices={"apple":2.5,"choc":3.0}; print(prices.get("apple"), prices.get("soda", 0.0))

### Exercise F2 — Frequency map (medium)
Count character frequencies in a string.

In [10]:
# Your turn
string = "This is a useless string created solely for the purpose of this excercise"
freq_map = {}
for letter in string:
    try:
        freq_map[letter] = freq_map[letter] + 1
    except:
        freq_map[letter] = 1
print( freq_map )

{'T': 1, 'h': 3, 'i': 5, 's': 10, ' ': 12, 'a': 2, 'u': 2, 'e': 10, 'l': 3, 't': 4, 'r': 5, 'n': 1, 'g': 1, 'c': 3, 'd': 1, 'o': 4, 'y': 1, 'f': 2, 'p': 2, 'x': 1}

<details>
<summary><b>Solution</b></summary>

```python
s="banana"
freq={}
for ch in s:
    freq[ch]=freq.get(ch,0)+1
print(freq)
```
</details>

### Exercise F3 — Nested structures (hard)
Create a class roster as list-of-dicts and compute average age.

In [16]:
# Your turn
roster = {
    'Student1': {'name': 'Alice',   'age': 20},
    'Student2': {'name': 'Bob',     'age': 22},
    'Student3': {'name': 'Charlie', 'age': 21}
} 

n = 0
sum = 0

for student_key, student_info in roster.items(): # This unpacks the first level of the roster dictionary; student_info is a tuple e.g. ('name': 'Charlie', 'age': 21)
    sum = sum + roster[student_key]['age']
    n = n + 1

print( sum / n )

21.0

<details>
<summary><b>Solution</b></summary>

```python
students=[{"name":"Ali","age":22},{"name":"Sara","age":24}]
avg=sum(s["age"] for s in students)/len(students)
print(round(avg,2))
```
</details>